
@{
    ViewBag.Title = "Conferences";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- Main -->
<div id="main">
    <!-- Post -->

    <article class="post">
        <header>
            <div class="title">
                <h1>Take a look at popular upcoming conferences</h1>
                <p>Check out upcoming conferences that users love!</p>
            </div>
        </header>
        <table style="width: 90%;" width="597">
            <tbody>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/droidcon.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Droidcon <br /><span style="color: #3cafe4;">
                                        <a href="http://droidcon.hr/en/" target="_blank">
                                            Find out more!
                                            <br />
                                        </a>
                                    <br />
                                    <strong>Location: </strong>Zagreb, Croatia
                                    <br />
                                    <strong>Start Date: </strong>4/27/2016
                                    <br />
                                    <strong>Ticket Price: </strong>100kn-600kn
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>About</strong><br />
                                Droidcon is a global developer conference series and a network focusing on the best of Android.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/stareast.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    STAREAST <br /><span style="color: #3cafe4;">
                                        <a href="https://stareast.techwell.com/" target="_blank">
                                            Find out more!
                                            <br />
                                        </a>
                                        <br />
                                        <strong>Location: </strong>Orlando, FL
                                        <br />
                                        <strong>Start Date: </strong>5/1/2016
                                        <br />
                                        <strong>Ticket Price: </strong>$3,295-$3,795
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>About</strong><br />
                                STAREAST is one of the longest-running, and most respected conferences on software testing and quality assurance. The event features 100+ learning and networking opportunities.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/icvr.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    International Conference on Virtual Reality <br /><span style="color: #3cafe4;">
                                        <a href="http://interaction16.ixda.org/" target="_blank">
                                            Find out more!
                                            <br />
                                        </a>
                                        <br />
                                        <strong>Location: </strong>Chengdu, China
                                        <br />
                                        <strong>Start Date: </strong>6/20/2016
                                        <br />
                                        <strong>Ticket Price: </strong>$50-$400
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>About</strong><br />
                                Where international researchers and experts in the virtual reality field present their findings and developmental research.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/podcast-movement.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Podcast Movement <br /><span style="color: #3cafe4;">
                                        <a href="http://podcastmovement.com/wp-content/images/logo.png" target="_blank">
                                            Find out more!
                                            <br />
                                        </a>
                                        <br />
                                        <strong>Location: </strong>Chicago, IL
                                        <br />
                                        <strong>Start Date: </strong>7/6/2016
                                        <br />
                                        <strong>Ticket Price: </strong>$319-$509
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>About</strong><br />
                                The premiere event for podcasters and influencers who use the medium to for content. 
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/blogher.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    BlogHer 2016 <br /><span style="color: #3cafe4;">
                                        <a href="http://www.blogher.com/blogher16?from=pod" target="_blank">
                                            Find out more!
                                            <br />
                                        </a>
                                        <br />
                                        <strong>Location: </strong>Los Angeles, CA
                                        <br />
                                        <strong>Start Date: </strong>8/4/2016
                                        <br />
                                        <strong>Ticket Price: </strong>$99-$699
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>About</strong><br />
                                The Blogher conference is the largest conference that celebrates women content creators across social media, video, and the web.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/rockstars.jpg" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Rock Stars of Cybersecurity <br /><span style="color: #3cafe4;">
                                        <a href="https://www.computer.org/web/rock-stars/cybersec-seattle" target="_blank">
                                            Find out more!
                                            <br />
                                        </a>
                                        <br />
                                        <strong>Location: </strong>Seattle, WA
                                        <br />
                                        <strong>Start Date: </strong>9/13/2016
                                        <br />
                                        <strong>Ticket Price: </strong>$165-$299
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>About</strong><br />
                                At the Rock Stars of Cybersecurity conference, well-respected cybersecurity authorities from leading companies will deliver case studies and actionable advice that you can immediately put to use.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/iodc.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    IODC 2016 <br /><span style="color: #3cafe4;">
                                        <a href="http://opendatacon.org/" target="_blank"> 
                                            Find out more!
                                            <br />
                                        </a>
                                        <br />
                                        <strong>Location: </strong>Madrid, Spain
                                        <br />
                                        <strong>Start Date: </strong>10/6/2016
                                        <br />
                                        <strong>Ticket Price: </strong>TBD
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>About</strong><br />
                                The impact of open sourced data, its effect on citizens, and the opportunity that industries have will be the topic of discssion.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/websummit.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Web Summit <br /><span style="color: #3cafe4;">
                                        <a href="https://websummit.net/" target="_blank">
                                            Find out more!
                                            <br />
                                        </a>
                                        <br />
                                        <strong>Location: </strong>Lisbon, Portugal
                                        <br />
                                        <strong>Start Date: </strong>11/7/2016
                                        <br />
                                        <strong>Ticket Price: </strong>TBD
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>About</strong><br />
                                Described as one of the best technology conferences of all time, the Web Summit now brings in over 42,000 attendees for one of the biggest technology events you will ever go to.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/qcon.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    QCon London <br /><span style="color: #3cafe4;">
                                        <a href="https://qconlondon.com/" target="_blank">
                                            Find out more!
                                            <br />
                                        </a>
                                        <br />
                                        <strong>Location: </strong>London, England
                                        <br />
                                        <strong>Start Date: </strong>3/6/2017
                                        <br />
                                        <strong>Ticket Price: </strong>£990-£1,500
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>Description</strong><br />
                                QCon empowers software development by facilitating the spread of knowledge and innovation in the developer community.
                                A practitioner-driven conference, QCon is designed for technical team leads, architects, engineering directors, and project managers who influence innovation in their teams.
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</div>

