
@{
    ViewBag.Title = "Speakers";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<!-- Main -->
<div id="main">
    <!-- Post -->
    
    <article class="post">
        <header>
            <div class="title">
                <h1>Get to Know the Speakers</h1>
                <p>Check out the biographies for some of our most popular speakers!</p>
            </div>
        </header>
        <table style="width: 90%;" width="597">
            <tbody>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/tim-cook-apple-ceo.jpg" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Tim Cook <br /><span style="color: #3cafe4;">
                                        <a href="https://twitter.com/tim_cook" target="_blank">
                                            Follow him on Twitter!
                                        </a>
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>CEO, Apple</strong><br />
                                Tim Cook took over for the late Steve Jobs as Apple's CEO in August 2011. Prior to that, Cook served as Apple's chief operating officer.
                                Born in Alabama on November 1, 1960, Tim Cook graduated from Auburn University with a bachelor's degree in industrial engineering in 1982, and went on to earn an M.B.A. from Duke University's Fuqua School of Business in the late '80s.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/marissa_mayer.jpg" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Marissa Mayer <br /><span style="color: #3cafe4;">
                                        <a href="https://twitter.com/marissamayer" target="_blank">
                                            Follow her on Twitter!
                                        </a>
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>CEO, Yahoo!</strong><br />
                                Marissa Mayer led the development of Google's most successful products for more than 10 years and was appointed CEO of Yahoo in 2012, at the age of 37.
                                Although she grew up thinking she would be a doctor, while at Stanford University, Mayer developed a passion for computers and went on to earn both a Bachelor of Science in symbolic systems and an Master of Science in computer science, with a specialization in artificial intelligence. But it was perhaps her research internships at SRI International in Menlo Park, California, and the UBS research lab in Zurich that helped her net 14 job offers fresh out of grad school.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/jeff_weiner.jpg" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Jeff Weiner<br /><span style="color: #3cafe4;">
                                        <a href="https://twitter.com/jeffweiner" target="_blank">
                                            Follow him on Twitter!
                                        </a>
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>CEO, LinkedIn</strong><br />
                                Jeff Weiner is the CEO of LinkedIn, where he started in December of 2008 as Interim President. He came to LinkedIn from positions as an Executive-in-Residence for leading Venture Capital firms Accel Partners and Greylock Partners. Prior to joining Accel and Greylock, Weiner served in various leadership roles at Yahoo for over seven years, most recently as the Executive Vice President of Yahoos Network Division. In this position he led a team of over 3,000 employees, managing products reaching over 500 million consumers, and overseeing a P&L responsible for roughly $3 billion in annual revenue. During his tenure, Weiner helped drive the Networks Open and Social strategy as well as expansion of the companys category-leading consumer web products, including Yahoos Front Doors, Communications and Community products, Search, and Media properties. 
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/sheryl_sandberg.jpg" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Sheryl Sandberg<br /><span style="color: #3cafe4;">
                                        <a href="https://twitter.com/sherylsandberg" target="_blank">
                                            Follow her on Twitter!
                                        </a>
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>COO, Facebook</strong><br />
                                Sheryl Sandberg is the chief operating officer of Facebook and best-selling author of Lean In: Women, Work, and the Will to Lead.Sheryl Sandberg was born in Washington, D.C., in 1969. She went to Harvard for her bachelor's degree in economics and worked at the World Bank after graduating summa cum laude. She then attended Harvard Business School and went to work in the U.S. Department of the Treasury during the Clinton administration. When the Republicans swept the Democrats out of office in November 2000, Sandberg moved to Silicon Valley and worked for Google for seven years. She then moved to Facebook, where she has been COO since 2008. Sandberg is the author of Lean In: Women, Work, and the Will to Lead, which has sold more than a million copies.
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/satya_nadella.jpg" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Satya Nadella<br /><span style="color: #3cafe4;">
                                        <a href="https://twitter.com/microsoft" target="_blank">
                                            Follow him on Twitter!
                                        </a>
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>CEO, Microsoft</strong><br />
                                Satya Narayana Nadella is an India-born American business executive. He is the current chief executive officer (CEO) of Microsoft.  He was appointed as CEO on 4 February 2014, succeeding Steve Ballmer. Before becoming CEO of Microsoft, he was Executive Vice President of Microsoft's Cloud and Enterprise group, responsible for building and running the company's Computing Platforms, Developer Tools and Cloud Computing Services.
                                Nadella attended the Hyderabad Public School, Begumpet before attaining a bachelor's degree in electrical engineering from the Manipal Institute of Technology in 1988 (then affiliated with Mangalore University), Manipal, Karnataka.

                                Nadella subsequently traveled to the U.S. to study for an M.S. degree in Computer Science at the University of Wisconsin–Milwaukee, receiving his degree in 1990. Later he received an MBA from the University of Chicago Booth School of Business.

                                Nadella said he "always wanted to build things". He knew that computer science was what he wanted to pursue, but that passion was at precocious stage while studying at Manipal University. "And so it [electrical engineering] was a great way for me to go discover what turned out to become a passion," he says.
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</div>

